<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.HousesMapper">
  <resultMap id="BaseResultMap" type="com.study.domain.Houses">
    <!--@mbg.generated-->
    <!--@Table houses-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="rent_type" jdbcType="VARCHAR" property="rentType" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="imgs" jdbcType="VARCHAR" property="imgs" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="buy_time" jdbcType="TIMESTAMP" property="buyTime" />
    <result column="nums" jdbcType="INTEGER" property="nums" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, house_type, rent_type, price, city, imgs, info, buy_time, nums
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from houses
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from houses
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.study.domain.Houses" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into houses (title, house_type, rent_type, 
      price, city, imgs, 
      info, buy_time, nums
      )
    values (#{title,jdbcType=VARCHAR}, #{houseType,jdbcType=VARCHAR}, #{rentType,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{city,jdbcType=VARCHAR}, #{imgs,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR}, #{buyTime,jdbcType=TIMESTAMP}, #{nums,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.study.domain.Houses" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into houses
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="rentType != null">
        rent_type,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="imgs != null">
        imgs,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="buyTime != null">
        buy_time,
      </if>
      <if test="nums != null">
        nums,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="rentType != null">
        #{rentType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null">
        #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="buyTime != null">
        #{buyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nums != null">
        #{nums,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.domain.Houses">
    <!--@mbg.generated-->
    update houses
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="rentType != null">
        rent_type = #{rentType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="imgs != null">
        imgs = #{imgs,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="buyTime != null">
        buy_time = #{buyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nums != null">
        nums = #{nums,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.domain.Houses">
    <!--@mbg.generated-->
    update houses
    set title = #{title,jdbcType=VARCHAR},
      house_type = #{houseType,jdbcType=VARCHAR},
      rent_type = #{rentType,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      city = #{city,jdbcType=VARCHAR},
      imgs = #{imgs,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      buy_time = #{buyTime,jdbcType=TIMESTAMP},
      nums = #{nums,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>