<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.ItemsMapper">
  <resultMap id="BaseResultMap" type="com.study.domain.Items">
    <!--@mbg.generated-->
    <!--@Table items-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="sales" jdbcType="BIGINT" property="sales" />
    <result column="recommendation" jdbcType="BOOLEAN" property="recommendation" />
    <result column="recommendation_sort" jdbcType="INTEGER" property="recommendationSort" />
    <result column="city" jdbcType="VARCHAR" property="city" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, img, sales, recommendation, recommendation_sort, city
  </sql>
</mapper>