<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.study.domain.Order">
    <!--@mbg.generated-->
    <!--@Table `order`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="rent_type" jdbcType="VARCHAR" property="rentType" />
    <result column="comment_state" jdbcType="INTEGER" property="commentState" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="user" jdbcType="INTEGER" property="user" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_num, title, house_type, price, img, rent_type, comment_state, house_id, 
    `user`, create_time, user_phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `order`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `order`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.study.domain.Order" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `order` (order_num, title, house_type, 
      price, img, rent_type, 
      comment_state, house_id, `user`, 
      create_time, user_phone)
    values (#{orderNum,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{houseType,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{img,jdbcType=VARCHAR}, #{rentType,jdbcType=VARCHAR}, 
      #{commentState,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, #{user,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{userPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.study.domain.Order" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="rentType != null">
        rent_type,
      </if>
      <if test="commentState != null">
        comment_state,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="user != null">
        `user`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="rentType != null">
        #{rentType,jdbcType=VARCHAR},
      </if>
      <if test="commentState != null">
        #{commentState,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        #{user,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.domain.Order">
    <!--@mbg.generated-->
    update `order`
    <set>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="rentType != null">
        rent_type = #{rentType,jdbcType=VARCHAR},
      </if>
      <if test="commentState != null">
        comment_state = #{commentState,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        `user` = #{user,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.domain.Order">
    <!--@mbg.generated-->
    update `order`
    set order_num = #{orderNum,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      house_type = #{houseType,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      img = #{img,jdbcType=VARCHAR},
      rent_type = #{rentType,jdbcType=VARCHAR},
      comment_state = #{commentState,jdbcType=INTEGER},
      house_id = #{houseId,jdbcType=INTEGER},
      `user` = #{user,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_phone = #{userPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>