<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--引入外部配置文件，动态读取数据库驱动地址账户密码-->
    <properties resource="application.properties"></properties>
    <!-- 这里必须在resource后面，而且也在environment前面 -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--扫描包下的所有实体-->
    <typeAliases>
        <package name="com.study.domain"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <environments default="development">

        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

    </environments>



    <!--引入mapper配置文件-->
    <mappers>
        <mapper resource="mapper/StudentMapper.xml"></mapper>
        <mapper resource="mapper/ClassesMapper.xml"></mapper>
    </mappers>


</configuration>