<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- 不使用注解的方式，需要把controller添加到spring容器里去
        name就是请求路径，前面前面还有一个 /
     -->
    <bean id="controller01" name="/controller01.do" class="com.study.controller.Controller01"></bean>
    <bean id="controller02" name="/controller02.do" class="com.study.controller.Controller02"></bean>



</beans>