<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.StudentMapper">

  <!-- 这里返回值是一个Map的时候，那么这个查询结果将会自动的封装到map中 -->
  <select id="queryOneStudent1" resultType="java.util.Map">
    select s.id,s.sname,s.cid,c.cname from student s left join classes c on (s.cid = c.id) where s.id = #{id}
  </select>

  <!-- 将查询结果封装的到User中，但是User如果有cname那么就会封装，没有就会被丢弃 -->
  <select id="queryOneStudent2" resultType="Student">
    select s.id,s.sname,s.cid,c.cname from student s left join classes c on (s.cid = c.id) where s.id = #{id}
  </select>

  <!--
      此时的Student里有一个Class对象，那么resultType此时没法写，我们需要使用resultMap来映射类型
      property:代表类的属性 column:代表查询的数据库表头值
    -->
  <resultMap id="STUDENT_CLASSES_MAP" type="Student">
        <id property="id" column="id"></id>
        <result property="sname" column="sname"></result>
        <result property="cid" column="cid"></result>
        <!-- cname不是Student里的字段，但是Student里有一个Classes对象，这个字段是对象里的，所以我们需要把这个cname添加到Classes对象里去 -->
        <!-- 关联选定这个字段(也就是这个类)，类型是一个Classes -->
        <association property="cls" javaType="com.study.domain.Classes">
            <!--
                property:对应了 Classes 类的属性
                column: 对应了关联的Student的cid属性(外键),其实这里更正确的是数据库表头属性column列
                -->
            <id property="id" column="cid"></id>
            <!-- 将这个Classes对象的列cname和数据库查询出来的cname进行映射 -->
            <result property="cname" column="cname"></result>
        </association>
  </resultMap>
  
  <select id="queryOneStudent3" resultMap="STUDENT_CLASSES_MAP">
    select s.id,s.sname,s.cid,c.cname from student s left join classes c on (s.cid = c.id) where s.id = #{id}
  </select>


    <resultMap id="STUDENT_CLASSES_MAP2" type="Student">
        <id property="id" column="id"></id>
        <result property="sname" column="sname"></result>
        <result property="cid" column="cid"></result>
        <!--  剩余一个字段cls和cid进行关联，把cid传classes的方法里单独调用一次查询(级联查询)  -->
        <association property="cls" javaType="com.study.domain.Classes"
                     select="com.study.mapper.ClassesMapper.queryClassesById" column="cid">
        </association>
    </resultMap>

    <!-- 这里就只查询student字段的内容 -->
    <select id="queryOneStudent4" resultMap="STUDENT_CLASSES_MAP2">
        select * from student where id = #{id}
    </select>

  <select id="queryStudentByClassCid" resultType="com.study.domain.Student">
      select * from student where cid = #{cid}
    </select>
</mapper>