<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.StudentMapper">

  <!-- 这里返回值是一个Map的时候，那么这个查询结果将会自动的封装到map中 -->
  <select id="queryOneStudent1" resultType="java.util.Map">
    select s.id,s.sname,s.cid,c.cname from student s left join classes c on (s.cid = c.id) where s.id = #{id}
  </select>

  <!-- 将查询结果封装的到User中，但是User如果有cname那么就会封装，没有就会被丢弃 -->
  <select id="queryOneStudent2" resultType="Student">
    select s.id,s.sname,s.cid,c.cname from student s left join classes c on (s.cid = c.id) where s.id = #{id}
  </select>

  <!--
      此时的Student里有一个Class对象，那么resultType此时没法写，我们需要使用resultMap来映射类型
      property:代表类的属性 column:代表查询的数据库表头值
    -->
  <resultMap id="STUDENT_CLASSES_MAP" type="Student">

        <id property="id" column="id"></id>
        <result property="sname" column="sname"></result>
        <result property="cid" column="cid"></result>


  </resultMap>
  
  <select id="queryOneStudent3" resultMap="STUDENT_CLASSES_MAP">
    select s.id,s.sname,s.cid,c.cname from student s left join classes c on (s.cid = c.id) where s.id = #{id}
  </select>
</mapper>