<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.study.domain.Comments">
    <!--@mbg.generated-->
    <!--@Table comments-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="star" jdbcType="INTEGER" property="star" />
    <result column="houseId" jdbcType="VARCHAR" property="houseid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `comment`, star, houseId
  </sql>
</mapper>