<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.HousesMapper">
  <resultMap id="BaseResultMap" type="com.study.domain.Houses">
    <!--@mbg.generated-->
    <!--@Table houses-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="rent_type" jdbcType="VARCHAR" property="rentType" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="imgs" jdbcType="VARCHAR" property="imgs" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="buy_time" jdbcType="TIMESTAMP" property="buyTime" />
    <result column="nums" jdbcType="INTEGER" property="nums" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, house_type, rent_type, price, city, imgs, info, buy_time, nums
  </sql>
</mapper>