<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserMapper">

    <!--提取重复查询的字段-->
    <sql id="five_column">
        id, name, age, sex, address, birth
    </sql>
    
    <!-- 推荐方式 -->
    <select id="selectByName" resultType="User">
        select <include refid="five_column">
                </include>
        from user where name like concat('%',#{name},'%');
    </select>

    <!-- 存在sql注入问题,而且这样拼接只能用$ ,否则就是这个样子'%?%',无法识别? -->
    <select id="selectByName2" resultType="User">
        select <include refid="five_column">
    </include>
        from user where name like '%${name}%'
    </select>

    <select id="selectByName3" resultType="User">
        <!--使用bind的方式，mybatis推荐-->
        <bind name="keyWord" value="new String('%'+name+'%')"/>
        select <include refid="five_column">
    </include>
        from user where name like  #{keyWord}
    </select>

    <select id="selectByMultiParams" resultType="User">
        select <include refid="five_column">
    </include>
        from user
        where name like concat('%',#{name},'%') and id = #{id};
    </select>

    <select id="selectByMultiParams2" resultType="User">
        select <include refid="five_column">
    </include>
        from user
        where name like concat('%',#{arg0},'%') and id = #{arg1}
    </select>

    <select id="selectByMultiParams3" resultType="User">
        select <include refid="five_column">
    </include>
        from user
        where name like concat('%',#{param1},'%') and id = #{param2}
    </select>

    <select id="selectPage" resultType="User">
        select <include refid="five_column">
    </include>
        from user
    </select>

    <select id="selectAll" resultType="com.study.domain.User">
        select <include refid="five_column">
    </include>
        from user
    </select>

    <!--
        useGeneratedKeys：表示使用数据库自增长
        keyProperty：自增长的列对应的类中的属性，这个是代码层面
        keyColumn：自增长的列，这个是数据库层面
    Mybatis会自动将增长的值，封装到传入参数的属性中。
    -->
    <insert id="insertOneUser" parameterType="User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into user(name, age, sex, address, birth)
        values (#{user.name},#{user.age},#{user.sex},#{user.address},#{user.birth})
    </insert>
</mapper>