server:
    port: 8761
spring:
    application:
        name: eureka-server

eureka:
    server:
        eviction-interval-timer-in-ms: 10000
        renewal-percent-threshold: 0.85
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka
        register-with-eureka: true
    instance:
        hostname: localhost
        instance-id: ${eureka.instance.hostname}:${spring.application.name}:${server.port}
        prefer-ip-address: true
        lease-expiration-duration-in-seconds: 90