#server:
#    port: 80
#spring:
#    application:
#        name: gateway-server
#    cloud:
#        gateway:
#            enabled: true
#            routes:
##                - id: 11232search-service-router
##                  uri: http://localhost:8080            # 当网关访问80端口下的gossip路径帮我跳转到  http://localhost:8080/gossip
##                  predicates:       # 断言匹配
##                      - Path=/gossip
##                - id: search-service-router
##                  uri: http://localhost:8080
##                  predicates:
##                      - Path=/doSearch             # 这里配置2个并不能达到负载均衡的效果，只能生效第一个
#                 - id: 11232search-service-router
#                   uri: lb://service            # loadbalance协议 根据应用id来进行跳转
#                   predicates: # 断言匹配
#                       - Path=/gossip           #  设置请求的路径

eureka:
    client:
        service-url:
            defaultZone: http://rrow.xyz:8761/eureka            # gateway也需要eureka注册中心来帮忙发现
    instance:
        hostname: gateway
        prefer-ip-address: true
        instance-id: ${eureka.instance.hostname}:${spring.application.name}:${server.port}

server:
    port: 80
spring:
    application:
        name: gateway-server
    cloud:
        gateway:
            enabled: true           # 开启网关，否则服务无法启动
            discovery:
                locator:
                    enabled: true           #  开启动态路由,根据服务名称来做服务发现  需要在请求地址上添加服务名称
                    lower-case-service-id: true             # 大写转小写